{%extends "layout.html" %}
<!-- 导航标记 -->
{% block news %}active{% endblock %}
{% block current-page %}新闻管理{% endblock %}
<!-- 内容区 -->
{% block mainbody %}
{% verbatim %}
<div id="app" class="container">
  <div class="content-wrapper">
    <div class="filter-container">
      <div class="filter-item" style="width: 110px;">
        <el-select v-model="queryData.cate_id" clearable placeholder="分类" @change="searchList">
          <el-option v-for="item in cateOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="filter-item">
        <el-button class="filter-item" type="primary" icon="el-icon-plus" @click="onAdd">添加</el-button>
        <el-button class="filter-item" type="warning" icon="el-icon-search" @click="searchList">查询</el-button>
      </div>
    </div>
    <el-table :data="list" style="width: 100%">
      <el-table-column prop="id" label="id" width="100"></el-table-column>
      <el-table-column prop="title" label="标题" width="100"></el-table-column>
      <el-table-column :formatter="formatterCate" prop="cate_id" label="分类" width="120" align="center"></el-table-column>
      <el-table-column prop="create_time" label="时间" width="100" align="center"></el-table-column>
      <el-table-column align="right" label="操作">
        <template slot-scope="{ row }">
          <el-button type="text" @click="onShowDetail(row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <!-- 表单 -->
  <el-dialog :visible.sync="showAddForm" :title="formTitleMap[addFormType]">
    <el-form ref="addForm" :model="addInfo" :rules="addRules" :disabled="addFormType == 1" label-width="90px" label-position="left" size="mini">
      <el-form-item label="标题" prop="title">
        <el-input v-model="addInfo.title"/>
      </el-form-item>
      <el-form-item label="分类" prop="cate_id">
        <el-select v-model="addInfo.cate_id" placeholder="请选择分类">
          <el-option v-for="item in cateOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="文本内容" prop="content">
        <el-input
          type="textarea"
          :autosize="{ minRows: 4, maxRows: 8}"
          placeholder="请输入文本内容"
          v-model="addInfo.content">
        </el-input>
      </el-form-item>
      <div style="text-align: right;">
        <el-button v-if="!addFormType" type="primary" @click="onSubmit">添加</el-button>
      </div>
    </el-form>
  </el-dialog>
</div>
{% endverbatim %}
<script>
  let id = 0;
  new Vue({
    el: '#app',
    data() {
      return {
        // 查询
        queryData: {
          cate_id: ''
        },
        // 分页
        page: {
          page_index: 1,
          page_size: 10,
          total_count: 0
        },
        list: [],
        // 分类列表
        cateOptions: [],
        // 添加表单
        formTitleMap: ['添加新闻', '新闻详情'],
        showAddForm: false,
        addFormType: 0, // 表单类型：0添加 1详情
        addInfo: {
          id: null, // id
          cate_id: null, // 分类
          title: null, // 标题
          content: null, // 文本内容
        },
        addRules: {
          cate_id: [{ required: true, message: '请选择分类', trigger: 'change' }],
          title: [{ required: true, message: '请输入标题', trigger: 'blur' }],
          content: [{ required: true, message: '请输入文本内容', trigger: 'blur' }],
        },
      }
    },
    mounted() {
      this.searchList()
      this.initCateDict()
    },
    methods: {
      // 查询列表
      searchList() {
        this.page = {
          page_index: 1,
          page_size: 10,
          total_count: 0
        }
        this.getList()
      },
      // 获取列表
      async getList() {
        const ret = await serverPost(ToDJ('newsList'), Object.assign({}, this.page, this.queryData))
        if (ret.code === 0) {
          const { list, total_count } = ret.data
          for (const item of list) {
            item.create_time = FormatDate(new Date(item.create_time))
          }
          this.page.total_count = total_count
          this.list = list
        } else {
          NotifyFail(this, ret.data)
        }
      },
      // 提交表单
      onSubmit() {
        // 检查输入
        this.$refs.addForm.validate(async (valid) => {
          if (valid) {
            this.onDoAdd()
          }
        })
      },
      // 向后端发送添加指令
      async onDoAdd() {
        let { cate_id, title, content } = this.addInfo
        const para = {
          cate_id, title, content
        }
        const ret = await serverPost(ToDJ('newsAdd'), para)
        if (ret.code === 0) {
          this.showAddForm = false
          this.searchList()
        } else {
          NotifyFail(this, ret.data)
        }
      },
      // 添加
      onAdd() {
        this.addInfo = {
          id: null, // id
          cate_id: null, // 分类
          title: null, // 标题
          content: null, // 文本内容
        }

        this.addFormType = 0
        this.showAddForm = true
      },
      // 显示详情
      onShowDetail(row) {
        console.log(row)
        const { id, cate_id, title, content } = row
        this.addInfo = {
          id, // id
          cate_id, // 分类
          title, // 标题
          content, // 文本内容
        }
        this.addFormType = 1
        this.showAddForm = true
      },
      // 格式化显示分类
      formatterCate(row, column, cellValue, index) {
        let name = ''
        for (const item of this.cateOptions) {
          if (item.id == row.cate_id) {
            name = item.name
            break
          }
        }
        return name
      },
      // 初始化分类字典
      async initCateDict() {
        const ret = await serverPost(ToDJ('newsCateList'))
        if (ret.code === 0) {
          const { list } = ret.data
          this.cateOptions = list
        } else {
          NotifyFail(this, ret.data)
        }
      },
    }
  })
</script>
{% endblock %}