html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #181818;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.container .filter-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.container .filter-container .filter-item {
  margin-left: 10px;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
}
.flex-jc-end {
  justify-content: flex-end;
}
.flex-jc-center {
  justify-content: center;
}
.flex-jc-sp-around {
  justify-content: space-around;
}
.flex-jc-sp-between {
  justify-content: space-between;
}
.flex-jc-sp-evenly {
  justify-content: space-evenly;
}
.flex-ai-center {
  align-items: center;
}
.flex-ai-start {
  align-items: flex-start;
}
.flex-ai-end {
  align-items: flex-end;
}
